@using Microsoft.AspNetCore.Components.Authorization

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="https://api.whatsapp.com/send/?phone=525516448240&text&type=phone_number&app_absent=0>">Consultas Psicológicas.</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
   
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Index" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <AuthorizeView Roles="Administrador">
            <Authorized>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="departamentos">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Departamentos
            </NavLink>
        </div>
         </Authorized>
        </AuthorizeView>

          <AuthorizeView Roles="Administrador">
            <Authorized>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="pacientes">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Pacientes
            </NavLink>
        </div>
          </Authorized>
        </AuthorizeView>

        <AuthorizeView Roles="Administrador">
            <Authorized>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="diagnosticos">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Diagnosticos
            </NavLink>
        </div>

          </Authorized>
        </AuthorizeView>

        <AuthorizeView Roles="Administrador">
            <Authorized>
                <div class="nav-item px-3">
            <NavLink class="nav-link" href="profesionals">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Profesional
            </NavLink>
                 </div>
            </Authorized>

        </AuthorizeView>

        

    </nav>
</div>

@code {
    private bool collapseNavMenu = true;
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
