<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/4ecd2a54-6f38-4cea-bcf8-3c71afc8c8db/resourceGroups/ConsultorioMendozaWeb25_group/providers/Microsoft.Web/sites/ConsultorioMendozaWeb25</ResourceId>
    <ResourceGroup>ConsultorioMendozaWeb25_group</ResourceGroup>
    <ApiResourceId>/subscriptions/4ecd2a54-6f38-4cea-bcf8-3c71afc8c8db/resourceGroups/grupoDerecursos22/providers/Microsoft.ApiManagement/service/ConsulCrudServerapi/apis/ConsulCrudServer</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://consultoriomendozaweb25.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>a843ac68-78b3-46ba-b6bd-bd4738aa70a8</ProjectGuid>
    <MSDeployServiceURL>consultoriomendozaweb25.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ConsultorioMendozaWeb25</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$ConsultorioMendozaWeb25</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
</Project>