<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/4ecd2a54-6f38-4cea-bcf8-3c71afc8c8db/resourceGroups/ConsultorioMendozaWeb25_group/providers/Microsoft.Web/sites/ConsultorioMendozaWeb25</ResourceId>
    <ResourceGroup>ConsultorioMendozaWeb25_group</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://consultoriomendozaweb25.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>1d3ecf4e-9192-49fc-a4c1-2841f063190e</ProjectGuid>
    <MSDeployServiceURL>consultoriomendozaweb25.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ConsultorioMendozaWeb25</DeployIisAppPath>
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$ConsultorioMendozaWeb25</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <TargetFramework>net8.0</TargetFramework>
    <SelfContained>Independiente</SelfContained>
    <RuntimeIdentifier>Portable</RuntimeIdentifier>
    <EncryptedPassword>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAlcpeeykVJESgPsBA05Gp2QAAAAACAAAAAAAQZgAAAAEAACAAAADdGW69viWa/cZtEVKIApl3BgroHJet7y9Brt3hXpy8xAAAAAAOgAAAAAIAACAAAAALrbfN9YAUIYErqj79lwDpSPepyuXN1vrWCzEsXNTPz4AAAAAeTxkMw3vTeILOkf09yB5m/CqlGXscUDhX4E4cmp/s3G/n3kI7SVe0DzL85BunYCZs7AhfCMQhOQ+rePQTsikSn1sCYIiwPyHfGB4V8JGhSlHTM7kYd1Abl/8Bd9i1kgR014fb5wUPbrWxAQva05Gro7Vr27YR+6t27jbs0oIac0AAAADZkZ9z4vEmayZxJHu6JdY3TosStrdLm3D3h4PYyo+lGX6FkZCd4KoIrx4sAMU2hJDHLbW5StWXtk90YrR3Rliw</EncryptedPassword>
    <EnvironmentSubType>AppServicePublishProfileVisual</EnvironmentSubType>
    <_PublishBasicAuthDisabled>true</_PublishBasicAuthDisabled>
  </PropertyGroup>
</Project>